.input {
  gap: 16px;

  width: 100%;

  display: flex;
  align-items: center;

  &__input-element {
    width: 100%;

    input {
      width: 100%;

      border: none;
      outline: none;

      background-color: transparent;
    }
  }

  // Sizes

  &--s {
    border-radius: 22px;

    padding: 8px 16px;

    height: 40px;
  }

  &--m {
    border-radius: 12px;

    padding: 16px 16px;

    height: 56px;
  }

  // Colors

  &--primary {
    background-color: var(--color-primary);
  }

  &--secondary {
    background-color: var(--color-tertiary);
  }
}
