.chat {
  &__content {
    overflow-y: auto;
    height: 100%;
  }

  &__message-list {
    gap: 16px;
    height: 100%;
    padding: 16px 24px;

    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__message-groups {
    gap: 16px;

    display: flex;
    flex-direction: column;
  }

  &__message-group-date {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__message-item {
    display: flex;

    gap: 16px;

    &--income {
      justify-content: flex-start;
    }

    &--outcome {
      justify-content: flex-end;
    }
  }
}
